/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import"../node_modules/alertifyjs/build/css/alertify.rtl.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.rtl.min.css";
@import "~bootswatch/dist/Lumen/bootstrap.min.css";
@import url(assets/myStyles.css);

@font-face {
    font-family: "One-Slice";
    src: url("./assets/fonts/One-Slice.otf");
}
@font-face {
    font-family: "carolingia";
    src: url("./assets/fonts/carolingia.ttf");
}
@font-face {
    font-family: "CHERL___";
    src: url("./assets/fonts/CHERL___.TTF");
}






